###
### Operation system
###

## macOS

.DS_Store

###
### Build system
###

## Gradle

.gradle/
android/.idea/**/gradle.xml
android/**/*.iml
android/build/
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
local.properties

##
## Android project
##

android/captures/
android/**/GeneratedPluginRegistrant.java
android/app/*production*.jks
android/app/*production*.properties

##
## iOS project
##

ios/**/.generated/
ios/**/.symlinks/
ios/**/.vagrant/
ios/**/*sync/
ios/**/DerivedData/
ios/**/Pods/
ios/**/xcuserdata/
ios/Icon?
ios/profile
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/*.mode1v3
ios/*.mode2v3
ios/*.moved-aside
ios/*.pbxuser
ios/*.perspectivev3
ios/!default.mode1v3
ios/!default.mode2v3
ios/!default.pbxuser
ios/!default.perspectivev3
ios/.sconsign.dblite
ios/.tags*

##
## Flutter project
##

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
doc/api/
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/ephemeral/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
generated/
generated_plugin_registrant.dart
*.g.dart
*.freezed.dart

###
### IDE
###

### JetBrains IDE

## Файлы, специфичные для пользователя
.idea/libraries/
.idea/aws.xml
.idea/dictionaries
.idea/shelf
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/workspace.xml
.idea/modules

## Файлы, которые генерируются автоматически
.idea/contentModel.xml

## Файлы, которые могут содержать секретные данные
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/dbnavigator.xml

##
## Current project
##

# [ignorium] [BEGIN AUTO GENERATE SECTION]

# [ignorium] This section was generated by the `ignorium` package.
# [ignorium] ⚠️ Manual changes may be overwritten.
# [ignorium] Learn more: https://pub.dev/packages/ignorium.

# [ignorium] [Dart generated files]
*.freezed.dart
*.g.dart
*.gen.dart
*.generated.dart
*.gr.dart

# [ignorium] [Dart project]
.dart_tool/
build/
doc/api/

# [ignorium] [Flutter root project]
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# [ignorium] [macOS]
.DS_Store
Icon?

# [ignorium] [END AUTO GENERATE SECTION]